body, .sidebar, .header, .top-head, .bottom-head, .content, .projects, .p-card, .announcements {
    display: grid;
}

body {
    grid-template: 1fr 4fr / 1fr minmax(max-content, 5fr);
    margin: 0;
    height: 100vh;
    row-gap: 4px;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar {
    background-color: #1992d4;
    color: white;
    grid-row: 1 / 3;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(12, min-content);
    align-items: center;
    row-gap: 16px;
}

.content, input[type="text"] {
    background-color: #e2e8f0;
}

.a-card, .p-card, .t-card {
    background-color: white;
}

.filler, .reg {
    height: 24px;
}

.icon {
    justify-self: center;
}

.sidebar>div {
    font-size: 24px;
    font-weight: bolder;
}

.profile {
    border-radius: 50%;
    height: 72px;
}

.profile.thumb {
    height: 48px;
}

input[type="text"], input[type="text"]:focus {
    border: 0px;
    border-radius: 25px;
    outline: none;
    padding: 8px;
    height: 12px;
    width: 85%;
}

.header {
    grid-template-rows: min-content min-content;
    grid-template-columns: 95%;
    padding-bottom: 4px;
    -moz-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.top-head, .bottom-head {
    grid-template-columns: min-content minmax(min-content, 77%) repeat(3, max-content);
    grid-auto-flow: column;
    align-items: center;
    margin-left: 5%;
    gap: 24px;
}

.hello {
    width: 85%;
}

.hello>h1 {
    margin: 0;
}

button {
    background-color: #1992df;
    color: white;
    border-radius: 25px;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    height: 36px;
}

.content {
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    padding-left: 20px;
    gap: 16px;
}

.projects {
    grid-row: 1 / 3;
    grid-template-columns: 400px 400px;
    grid-template-rows: 40px repeat(auto-fill, 225px);
    justify-content: center;
    gap: 16px;
}

.p-card {
    width: 400px;
    height: 225px;
    border-radius: 8px;
    box-shadow: inset 60px 0px 0px -50px gold;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 25px);
    grid-template-rows: repeat(auto-fill, 25px)
}

.p-card > h2 {
    grid-column: 2 / 19;
}

.p-card > div {
    grid-column: 2 / 14;
    grid-row: 3 / 8;
    font-size: 18px;
    color: gray;
}

.p-card > img:first-of-type {
    grid-area: 8 / 10 / 9 / 11;
}

.p-card > img:nth-of-type(2) {
    grid-area: 8 / 12 / 9 / 13;
}

.p-card > img:nth-of-type(3) {
    grid-area: 8 / 14 / 9 / 15;
}

#p {
    justify-self: start;
    grid-column: 1 / 3;
}

.a-card:first-of-type, .t-card:first-of-type {
    border-radius: 8px 8px 0px 0px;
}

.a-card:last-of-type, .t-card:last-of-type {
    border-radius: 0px 0px 8px 8px;
}